@model IdentityRole
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
    <span class="text-danger" asp-validation-for="Name"></span>
</div>