@model IdentityRole
@{
    ViewData["Title"] = "Delete";
}

<h1>Are you sure to delete this Role!</h1>
<form asp-action="Delete">
    <input asp-for="Id" hidden />
    <partial name="PartialViews/DetailsDeletePartialView"></partial>
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-light">Cancel</a>
</form>